[submodule "LTC_Injuries"]
	path = LTC_Injuries
	url = https://github.com/IMPROVA-RoadSafety/LTC-Injuries
[submodule "LTC_Glossary"]
	path = LTC_Glossary
	url = https://github.com/IMPROVA-RoadSafety/LTC_Glossary
[submodule "LTC_Databases"]
	path = LTC_Databases
	url = https://github.com/IMPROVA-RoadSafety/LTC-Databases-Data-Collection-Methods
[submodule "Assessment-procedures-and-methods"]
	path = Assessment-procedures-and-methods
	url = https://github.com/IMPROVA-RoadSafety/Assessment-procedures-and-methods
[submodule "Models"]
	path = Models
	url = https://github.com/IMPROVA-RoadSafety/Models
